@import "tailwindcss";

@theme inline {
  --font-display: var(--font-league), sans-serif;
  --font-sans: var(--font-league), sans-serif;
  --color-primary: #a1a1a1;
  --color-secondary: #454545;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}
