@import "tailwindcss";

@theme inline {
  --font-display: var(--font-league), sans-serif;
  --font-sans: var(--font-league), sans-serif;
  --color-primary: #a1a1a1;
  --color-secondary: #454545;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-in-right {
  animation: slideInRight 0.5s ease-in-out;
}

.animate-slide-in-left {
  animation: slideInLeft 0.5s ease-in-out;
}
